#set($generic = ${config.get("generic")})

#set($_pixels = $!{generic.getChild("pixels").getTvalue()})
#set($_pixels = ${utils.parseInt($_pixels)})

#set( $pixels_lateral = 900 - $_pixels )
#set( $pixels_content = $_pixels )

#set($font_size = 14)
#if($_font_size != "") #set($font_size = $_font_size) #end

#set($font_size_lateral = 14)
#if($_font_size_lateral != "") #set($font_size_lateral = $_font_size_lateral) #end
